# Lab | Data Cleaning and Formatting

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

# Challenge 1: Data Cleaning and Formatting

## Exercise 1: Cleaning Column Names

To ensure consistency and ease of use, standardize the column names of the dataframe. Start by taking a first look at the dataframe and identifying any column names that need to be modified. Use appropriate naming conventions and make sure that column names are descriptive and informative.

*Hint*:
- *Column names should be in lower case*
- *White spaces in column names should be replaced by `_`*
- *`st` could be replaced for `state`*

In [90]:
# Your code here
import pandas as pd
import numpy as np
url = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv"
df = pd.read_csv(url)
df.head()

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323

In [91]:
columns = df.columns.str.strip().str.replace(' ', '_').str.lower()
df.columns = columns
df.rename(columns={df.columns[1]: "state"}, inplace=True)
columns

Index(['customer', 'st', 'gender', 'education', 'customer_lifetime_value',
       'income', 'monthly_premium_auto', 'number_of_open_complaints',
       'policy_type', 'vehicle_class', 'total_claim_amount'],
      dtype='object')

In [92]:
df.head()

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323

## Exercise 2: Cleaning invalid Values

The dataset contains columns with inconsistent and incorrect values that could affect the accuracy of our analysis. Therefore, we need to clean these columns to ensure that they only contain valid data.

Note that this exercise will focus only on cleaning inconsistent values and will not involve handling null values (NaN or None).

*Hint*:
- *Gender column contains various inconsistent values such as "F", "M", "Femal", "Male", "female", which need to be standardized, for example, to "M" and "F".*
- *State abbreviations be can replaced with its full name, for example "AZ": "Arizona", "Cali": "California", "WA": "Washington"*
- *In education, "Bachelors" could be replaced by "Bachelor"*
- *In Customer Lifetime Value, delete the `%` character*
- *In vehicle class, "Sports Car", "Luxury SUV" and "Luxury Car" could be replaced by "Luxury"*

In [93]:
print(df["gender"].unique())
print(df["state"].unique())
print(df["education"].unique())
print(df["customer_lifetime_value"].unique())
print(df["vehicle_class"].unique())

[nan 'F' 'M' 'Femal' 'Male' 'female']
['Washington' 'Arizona' 'Nevada' 'California' 'Oregon' 'Cali' 'AZ' 'WA'
 nan]
['Master' 'Bachelor' 'High School or Below' 'College' 'Bachelors' 'Doctor'
 nan]
[nan '697953.59%' '1288743.17%' ... '2031499.76%' '323912.47%'
 '899704.02%']
['Four-Door Car' 'Two-Door Car' 'SUV' 'Luxury SUV' 'Sports Car'
 'Luxury Car' nan]

In [94]:
# Your code here

df["gender"] = df["gender"].str.strip().replace({"Femal" : "F", "female" : "F", "Male" : "M"})
df["state"] = df["state"].str.strip().replace({"Cali" : "California", "AZ" : "Arizona", "WA" : "Washington"})
df["education"] = df["education"].str.strip().replace("Bachelors", "Bachelor")
df["customer_lifetime_value"] = df["customer_lifetime_value"].str.strip("%").astype(float)
df["vehicle_class"] = df["vehicle_class"].str.strip().replace({"Luxury Car" : "Luxury", "Luxury SUV" : "Luxury", "Sports Car" : "Luxury"})

In [95]:
print(df["gender"].unique())
print(df["state"].unique())
print(df["education"].unique())
print(df["customer_lifetime_value"].unique())
print(df["vehicle_class"].unique())

[nan 'F' 'M']
['Washington' 'Arizona' 'Nevada' 'California' 'Oregon' nan]
['Master' 'Bachelor' 'High School or Below' 'College' 'Doctor' nan]
[       nan  697953.59 1288743.17 ... 2031499.76  323912.47  899704.02]
['Four-Door Car' 'Two-Door Car' 'SUV' 'Luxury' nan]

## Exercise 3: Formatting data types

The data types of many columns in the dataset appear to be incorrect. This could impact the accuracy of our analysis. To ensure accurate analysis, we need to correct the data types of these columns. Please update the data types of the columns as appropriate.

It is important to note that this exercise does not involve handling null values (NaN or None).

*Hint*:
- *Customer lifetime value should be numeric*
- *Number of open complaints has an incorrect format. Look at the different values it takes with `unique()` and take the middle value. As an example, 1/5/00 should be 5. Number of open complaints is a string - remember you can use `split()` to deal with it and take the number you need. Finally, since it should be numeric, cast the column to be in its proper type.*

In [96]:
# Your code here
df["customer_lifetime_value"] = df["customer_lifetime_value"].astype(float)
df.dtypes

customer                      object
state                         object
gender                        object
education                     object
customer_lifetime_value      float64
income                       float64
monthly_premium_auto         float64
number_of_open_complaints     object
policy_type                   object
vehicle_class                 object
total_claim_amount           float64
dtype: object

In [97]:
df["number_of_open_complaints"] = df["number_of_open_complaints"].astype(str).apply(lambda x: x.split("/")[1] if "/" in x else x)
df["number_of_open_complaints"] = df["number_of_open_complaints"].replace("nan", np.nan)
df["number_of_open_complaints"] = df["number_of_open_complaints"].astype(float)
df["number_of_open_complaints"].unique()

array([ 0.,  2.,  1.,  3.,  5.,  4., nan])

## Exercise 4: Dealing with Null values

Identify any columns with null or missing values. Identify how many null values each column has. You can use the `isnull()` function in pandas to find columns with null values.

Decide on a strategy for handling the null values. There are several options, including:

- Drop the rows or columns with null values
- Fill the null values with a specific value (such as the column mean or median for numerical variables, and mode for categorical variables)
- Fill the null values with the previous or next value in the column
- Fill the null values based on a more complex algorithm or model (note: we haven't covered this yet)

Implement your chosen strategy to handle the null values. You can use the `fillna()` function in pandas to fill null values or `dropna()` function to drop null values.

Verify that your strategy has successfully handled the null values. You can use the `isnull()` function again to check if there are still null values in the dataset.

Remember to document your process and explain your reasoning for choosing a particular strategy for handling null values.

After formatting data types, as a last step, convert all the numeric variables to integers.

In [98]:
# Your code here
df_dropped = df.dropna(how='all')
df_dropped

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,0.0,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59,0.0,94.0,0.0,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17,48767.0,108.0,0.0,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18,0.0,106.0,0.0,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65,36357.0,68.0,0.0,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...,...,...
1066,TM65736,Oregon,M,Master,305955.03,38644.0,78.0,1.0,Personal Auto,Four-Door Car,361.455219
1067,VJ51327,California,F,High School or Below,2031499.76,63209.0,102.0,2.0,Personal Auto,SUV,207.320041
1068,GS98873,Arizona,F,Bachelor,323912.47,16061.0,88.0,0.0,Personal Auto,Four-Door Car,633.600000
1069,CW49887,California,F,Master,462680.11,79487.0,114.0,0.0,Special Auto,SUV,547.200000
1070,MY31220,California,F,College,899704.02,54230.0,112.0,0.0,Personal Auto,Two-Door Car,537.600000

In [99]:
df_filled = df_dropped.copy()
df_filled['customer_lifetime_value'] = df_filled['customer_lifetime_value'].fillna(df['customer_lifetime_value'].mean())
df_filled['income'] = df_filled['income'].fillna(df['income'].mean())
df_filled['monthly_premium_auto'] = df_filled['monthly_premium_auto'].fillna(df['monthly_premium_auto'].mean())
df_filled['number_of_open_complaints'] = df_filled['number_of_open_complaints'].fillna(df['number_of_open_complaints'].mode()[0])
df_filled['gender'] = df_filled['gender'].fillna(df['gender'].mode()[0])
df_filled['education'] = df_filled['education'].fillna(df['education'].mode()[0])
df_filled['policy_type'] = df_filled['policy_type'].fillna(df['policy_type'].mode()[0])
df_filled['vehicle_class'] = df_filled['vehicle_class'].fillna(df['vehicle_class'].mode()[0])
df_filled['total_claim_amount'] = df_filled['total_claim_amount'].fillna(df['total_claim_amount'].mean())
print(df_filled.isnull().sum())

customer                     0
state                        0
gender                       0
education                    0
customer_lifetime_value      0
income                       0
monthly_premium_auto         0
number_of_open_complaints    0
policy_type                  0
vehicle_class                0
total_claim_amount           0
dtype: int64

In [100]:
df_filled = df_filled.astype({
    'customer_lifetime_value': 'int64',
    'income': 'int64',
    'monthly_premium_auto': 'int64',
    'total_claim_amount': 'int64'
})

print(df_filled.dtypes)

customer                      object
state                         object
gender                        object
education                     object
customer_lifetime_value        int64
income                         int64
monthly_premium_auto           int64
number_of_open_complaints    float64
policy_type                   object
vehicle_class                 object
total_claim_amount             int64
dtype: object

In [101]:
df_filled.sample(10)

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
1004,KJ31611,Arizona,M,High School or Below,1080806,31063,92,0.0,Personal Auto,Four-Door Car,441
839,UJ79253,Oregon,F,College,2185084,51056,78,0.0,Personal Auto,Four-Door Car,95
1027,VK48036,Oregon,F,College,551149,79027,70,0.0,Corporate Auto,Four-Door Car,336
585,UI55951,California,M,Bachelor,554803,67798,69,0.0,Personal Auto,Four-Door Car,331
774,PN18507,Arizona,M,Bachelor,1404210,88854,118,0.0,Personal Auto,Two-Door Car,715
807,CV31235,Arizona,M,Bachelor,318435,50989,80,0.0,Corporate Auto,Four-Door Car,255
303,YR34119,Washington,F,College,3116174,30916,112,0.0,Personal Auto,SUV,200
477,IU96845,Arizona,M,College,628547,32390,80,0.0,Personal Auto,Four-Door Car,91
851,EI85244,California,M,College,825506,0,134,3.0,Personal Auto,SUV,643
99,FZ30935,Oregon,F,College,606611,32627,76,0.0,Personal Auto,Two-Door Car,380

## Exercise 5: Dealing with duplicates

Use the `.duplicated()` method to identify any duplicate rows in the dataframe.

Decide on a strategy for handling the duplicates. Options include:
- Dropping all duplicate rows
- Keeping only the first occurrence of each duplicated row
- Keeping only the last occurrence of each duplicated row
- Dropping duplicates based on a subset of columns
- Dropping duplicates based on a specific column

Implement your chosen strategy using the `drop_duplicates()` function.

Verify that your strategy has successfully handled the duplicates by checking for duplicates again using `.duplicated()`.

Remember to document your process and explain your reasoning for choosing a particular strategy for handling duplicates.

Save the cleaned dataset to a new CSV file.

*Hint*: *after dropping duplicates, reset the index to ensure consistency*.

In [102]:
# Your code here
df_filled.duplicated().sum()

np.int64(0)

In [103]:
df_filled.to_csv("file1.csv", index=False)

# Bonus: Challenge 2: creating functions on a separate `py` file

Put all the data cleaning and formatting steps into functions, and create a main function that performs all the cleaning and formatting.

Write these functions in separate .py file(s). By putting these steps into functions, we can make the code more modular and easier to maintain.

*Hint: autoreload module is a utility module in Python that allows you to automatically reload modules in the current session when changes are made to the source code. This can be useful in situations where you are actively developing code and want to see the effects of changes you make without having to constantly restart the Python interpreter or Jupyter Notebook kernel.*

In [1]:
# Your code here
from data_cleaning import (
    load_data,
    clean_column_names,
    clean_invalid_values,
    format_data_types,
    handle_null_values,
    convert_to_integer,
    remove_duplicates
)

def main():
    # Step 1: Load the data
    url = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv"
    df = load_data(url)

    # Step 2: Clean and format the data
    df = clean_column_names(df)
    df = clean_invalid_values(df)
    df = format_data_types(df)
    df = handle_null_values(df)
    df = convert_to_integer(df)
    df = remove_duplicates(df)

    # Step 3: Save the cleaned data
    df.to_csv("cleaned_file1.csv", index=False)
    print("Data cleaning complete. Cleaned data saved as 'cleaned_file1.csv'.")

if __name__ == "__main__":
    main()

Data cleaning complete. Cleaned data saved as 'cleaned_file1.csv'.